@import "../../utils/styles/variables";

.header {
	position: fixed;
	width: 100%;
	max-width: 500px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: $header-height;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #fff;
	padding: 1rem;
	z-index: 10;

	&.red-bg {
		background-color: $red-bg-color;
	}

	.logo {
		font-size: 1.3rem;
		color: #fff;

		&:hover {
			text-decoration: underline;
		}
	}

	.nav-options {
		display: flex;
		gap: 0.5rem;

		.settings,
		.auth,
		.report,
		.logout {
			width: 35px;
			height: 35px;
			border: none;
			background-color: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			&:hover {
				background-color: $contrast-red-bg-color;
			}

			svg {
				color: #fff;
				width: 25px;
				height: 25px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.header {
		padding: 1rem 0;
	}
}
