// Variables
$red-bg-color: hsl(3, 92%, 70%);
$contrast-red-bg-color: hsl(3, 92%, 80%);
$selected-red-bg-color: hsl(3, 92%, 60%);

$light-blue-bg-color: hsl(186, 69%, 62%);
$contrast-light-blue-bg-color: hsl(186, 69%, 72%);
$selected-light-blue-bg-color: hsl(186, 69%, 52%);

$dark-blue-bg-color: hsl(221, 36%, 35%);
$contrast-dark-blue-bg-color: hsl(221, 36%, 55%);
$selected-dark-blue-bg-color: hsl(221, 36%, 45%);
